:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

}


body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: rgb(180,97,58);
  background: linear-gradient(30deg, rgba(180,97,58,1) 0%, rgba(245,255,0,1) 85%, rgba(245,255,0,1) 100%);
}
